.mob_links
  {

      width: 100%;
      max-width:300px;
      /* background-color: #fb9700; */
      margin:20px auto;
      /* margin-bottom: 200px; */
      border-style: none;
  }
  .dropdown_btn
  {
    width: 100% !important;
    max-width:300px !important;
    background-color:#d7d7d7!important;
    border:none !important;
  }
  .dropdown_btn:active
  {
    width: 100%;
    max-width:300px;

  }
  .open
  {
    margin-bottom:150px;
  }
  .btn :active
  {
    border:none;
  }
  .dropdown-menu 
  {
    width: 100%;
    max-width:300px;

  }
.career_text
{
    text-align: center;
    margin-top: 20px;
    letter-spacing:3px;
}
.head_text
{
    text-align: center;
    letter-spacing:4px;
    font-weight: bold;
    font-size: large;
    margin-top:30px;
}
.active
{
    background-color: black;
    color:white !important;
}
.btn:focus
{

    border-color: #fb9700 !important;
    outline: none !important;
    
}
.lab
{
  padding-right:5px;
  font-weight: bold;
  padding-top:10px !important;
}

a
{
    color: #fb9700;
}
.form_content
{
  display: flex;
  flex-direction: row;
  /* justify-content: center;  */
  align-items: center;
  margin-top:5px;
}
.file_text
{
  /* padding:10px; */
  margin-top:5px;
  /* padding-top: 8px; */
}
.choose_file_div
{
  background-color: black;
  color: white;
  width: max-content;
  border:2px solid #fb9700;
  border-radius: 5px;
  height: max-content;

}

.custom-file-upload
{
  padding-left:20px;
  padding-right:20px;
  padding-top:15px;
  padding-bottom:15px;
  background-color:#fb9700;
  border-radius:5px;
}

@media screen and (max-width: 767px)
{
    .illustration
    {
        display:none;
    }
    .mob_links
    {
        display: block !important;
    }
    .desk_links
    {
        display: none !important;
    }
}

@media screen and (max-width: 400px)
{
  .make_small p
  {
    font-size: x-small !important;
  }
  .lab
  {
    font-size: x-small ;
  }
}
