.mob_links
  {

      width: 100%;
      max-width:300px;
      /* background-color: #fb9700; */
      margin:20px auto;
      /* margin-bottom: 200px; */
      border-style: none;
  }
  .dropdown_btn
  {
    width: 100% !important;
    max-width:300px !important;
    background-color:#d7d7d7!important;
    border:none !important;
  }
  .dropdown_btn:active
  {
    width: 100%;
    max-width:300px;

  }
  .open
  {
    margin-bottom:150px;
  }
  .btn :active
  {
    border:none;
  }
  .dropdown-menu 
  {
    width: 100%;
    max-width:300px;

  }
.career_text
{
    text-align: center;
    margin-top: 20px;
    letter-spacing:3px;
}
.head_text
{
    text-align: center;
    letter-spacing:4px;
    font-weight: bold;
    font-size: large;
    margin-top:30px;
}
.active
{
    background-color: black;
    color:white !important;
}
.btn:focus
{

    border-color: #fb9700 !important;
    outline: none !important;
    
}
.lab
{
  padding-right:5px;
  /* font-weight: bold; */
  padding-top:10px !important;
  color: white;
}

a
{
    color: #fb9700;
}
.form_content
{
  display: flex;
  flex-direction: row;
  /* justify-content: center;  */
  align-items: center;
  margin-top:5px;
}
.file_text
{
  /* padding:10px; */
  margin-top:5px;
  /* padding-top: 8px; */
}
.choose_file_div
{
  background: linear-gradient(to right,#fb9700 50%, #292c35 50%);
  color: white;
  max-width:310px;
  width: max-content;
  border:2px solid #fb9700;
  border-radius: 5px;
  height: max-content;
  /* cursor: pointer !important; */

}
.input_area
{
  background-color:#383c45;
  border:none ;
  color: white;
}
.input_area :active
{
  outline: #fb9700 !important;
}

.custom-file-upload
{
  margin-top:5px;
  padding-left:15px;
  /* padding-right:15px; */
  padding-top:5px;
  padding-bottom:5px;
  background-color:#fb9700;
  border-radius:5px;
  height:100%;
  width:50%;
}
/* .custom-file-upload :hover
{
  cursor: pointer !important;
} */

.submit_btn
{
  margin-top:20px;
  padding-top:7px;
  padding-bottom:7px;
  padding-left:50px;
  padding-right:50px;
  background-color: #fb9700;
  border: 2px #fb9700 solid;
  border-radius: 5px;
  color: white;
}

@media screen and (max-width: 767px)
{
    .illustration
    {
        display:none;
    }
    .mob_links
    {
        display: block !important;
    }
    .desk_links
    {
        display: none !important;
    }
}

@media screen and (min-width: 700px)
{
  .carousel_1
  {
    height:60vh !important;
  }
  .carousel_image
  {
    height:90% !important;
  }
}

@media screen and (max-width: 400px)
{
  .make_small p
  {
    font-size: x-small !important;
  }
  .lab
  {
    font-size: x-small ;
  }
}
