@font-face {
    font-family: "codecpro";
    src: url("font/CodecPro-Regular.woff") format('woff');
}
.container_gradient {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }

.slider_carousel
{
    background: linear-gradient(to left, #fb9700 50%, #000000 50%);
}  






.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

.active_link
{
    border: 2px #fb9700 solid;
    outline: none !important;
    /* padding:1px; */
    color: white;
    text-decoration: none !important;
    border-radius: 5px;
}

.left_col_navbar a:hover
{
   color:#fb9700;
   text-decoration: none !important;
}
.right_col_navbar a:hover
{
   color:black;
   text-decoration: none !important;
}
.active_link_over
{
    color:black !important;
   text-decoration: none !important;   
}
.active_link_over2
{
    color:#fb9700 !important;
   text-decoration: none !important;   
}
.carousel_arrow
{
    /* padding-bottom:100px !important; */
   
}

body
{
    /* background: linear-gradient(to left, #fb9700 50%, #000000 50%); */
    font-family:'codecpro' !important;
}
.nvbar
{
    padding-top:5px;
    padding-bottom:5px;
    /* margin-bottom:10px; */
    background: linear-gradient(to left, #fb9700 50%, #000000 50%);
}

ul
{
    justify-content: space-evenly;
}
li
{
    display: inline;
}
.row1
{
    background: linear-gradient(to left, #fb9700 50%, #000000 50%);
    /* height:100vh; */
    padding-bottom:5%;
}
a
{
    color: white;
}
.logo-img
{
    width: 150px;
    height:25px;
    /* height:auto ; */
    margin-left:8%;
}
.nav_header
{
    margin-top:0px;
    color: white;
    font-size: large;

}
/* @media (min-width: 1000px) {
    body{
        background-color:white;
    }
} */

.responsive {
    /* margin-top: auto; */
    width: 90%;
    /* height:80%; */
    /* max-height:70vh; */
    max-height:80vh;
  }
.text
{
    font-size:50px;
    
}
.row2
{
    height:100;
    /* background-color: whitesmoke; */
}
span
{
    font-size:42px;
    background:none;
}
span.orange
{
    color: #fb9700;
    /* font-size:42px; */
}
.who_we_are
{
    height:auto;
    /* max-height:600px; */
    width:60%;
    padding: auto;
}
.grad
{
    width:100%;
    height:auto;
}
.we_are_text
{
    padding-left:8%;
    padding-right:8%;
    padding-top:20px;
    font-size:18px;
}
.left_col_navbar
{
    padding-top:15px;
    padding-bottom:15px; 
    /* background-color: black; */
}
.homepage_text
{
    /* margin-top:20%; */
    line-height:50px;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.right_col_navbar
{
    padding-top:15px;
    padding-bottom:15px ; 
    /* background-color: #fb9700; */
}
.mob_nav
{
    display:none;
}
.we_do_text
{
    text-align: center;
    padding-left:8%;
    padding-right:8%;
    font-size:18px;
}





/* media query for phone view */
@media screen and (max-width: 992px) 
{
    .homepage_text
    {
        width: fit-content;

    }
    .responsive
    {
        /* width:100%; */
        /* max-height:75vh; */
        /* text-align: center; */
    }      
}

@media screen and (max-width: 1020px) 
{
    
    .vertical-align {
        display: block; /* Turn off the flexible box layout */
    }
    .nvbar
    {
        display:none;
    }
    .responsive
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .mob_nav
    {
        display: block;
    }
    .mobile-container {
        /* max-width: 480px; */
        margin: auto;
        background-color:black;
        /* height: 500px; */
        color: white;
      }
      
      .topnav {
        overflow: hidden;
        background-color:#fb9700;
        position: relative;
        /* padding-top:10px;
        padding-bottom:10px; */
      }
      
      .topnav #myLinks {
        display: none;
      }
      /* text inside nav drop down  */
      .topnav a { 
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background: #fb9700;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: black;
        height:100%;
      }
      
      .topnav a:hover {
        color:black;
      }
      
      .active {
        background-color:black;
        color: white;
      }
      .row1
      {
          background: black !important;
      }
      .logo-img
      {     
          height:30px;
          width:170px;
          background-color: black;
      }
}
.testimonial_item
{
    background:linear-gradient( #d7d7d7 90%, #fb9700 10%) !important;
    /* box-shadow: none !important; */
}
.card-bod2-mob
{
    box-shadow: none !important;   
}

/* Card CSS */

.card-body2 {
    box-shadow: 5px 5px 5px grey;
    position:relative;
    padding-top: 120px;
    /* border:10px solid white; */
    background:white;
    border-radius:5px;
    min-height: 375px;
    /* width:300px; */
    }
    .card_image2
    {
        /* margin-top:32px; */
        height:100%;
        width:100%;
        border-radius:50%;
    }
    .card-title2
    {
        margin-top:25px ;
        font-size: large;
        color: black;
    }
    .card-title3
    {
        margin-top:15px ;
        font-size: large;
        color: black;
    }
    .card2_main
    {
        width:250px; 
        max-width:350px;
        /* padding-right:15vw; */
    }
    .card-text
    {
        font-size: small !important;
        padding:4px !important;
        color: black !important ;
    }
    .numberCircle2 {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        text-align: center;
        font-size: 50px;
        border: 1px none #fb9700;
        /* padding:5px; */
        color:white;
        background:#fb9700;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%) translateY(-30%);
    
    }
        .stt
        {
            display:flex;
            justify-content:space-evenly ;
        }
    
.parentcirclediv
{
    width:340px;
    height:340px;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}       
.parentcirclediv-image
{
    position: relative;
	display: block;
}

.parentcirclediv-text{
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    width: 300px;
    height: 200px; 
    text-align: center;   
   vertical-align:middle;
   line-height:200px;
}
.parentcirclediv-text h3{
    color: white;
    display: inline-table;
   vertical-align:middle;
   line-height:100%;
color:black;
}
/* new css */
.try2
{
    background:url('../img/Minutes_Circle.png') top left/cover no-repeat;
    height:340px;
    width:340px;
    display:flex;
    justify-content: center;
    align-items:center;
    /* background: black; */
}
/* new new css */

    
.five_hundred_img
{
    height:340px;
    width:340px;
    /*position: relative;
		display: block; */
    /* max-height:400px */
}
.watermark {
    opacity: 0.2;
    color: #b7b7b6;
    position: absolute;
    font-size:10vw; 
    /* margin-top:10vh; */
    
}
.watermark1 {
    opacity: 1;
    color: BLACK;
    /* position: absolute; */
    font-size:80px;
    /* margin-top:17vh; */
}
.content_under_text
{
    text-align:center;
    font-size:55px;
    color: black;
    margin-top:35px;
    margin-bottom:100px;
}
.numberCircle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    font-size: 50px;
    border: 3px solid #fb9700;
    padding:5px;
    color:white;
    background:#fb9700;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%) translateY(-70%);

}
.mob_cards
{
    margin-top:100px ;
}

.card-body {
position:relative;
padding-top: 30px;
border:2px solid #d7d7d7;
background:#d7d7d7;
border-radius:10px;
min-height: 200px;
padding-left:5px;
padding-right:5px;
min-height: 300px;
}
.card_image
{
    margin-top:32px;
}
.card-title
{
    font-size: large;
    color: black;
}

.card-text
{
    font-size: small;
    padding:2px;
    padding-left:10px !important;
    padding-right:10px !important;
    /* text-align: justify !important; */
}



@media screen and (max-width: 992px)
{
    .card_col
    {
        margin-top:110px;
        /* width:100%; */
        /* margin:auto; */
        /* margin-left:35%; */
    }
    .numberCircle{
        height:120px;
        width: 120px;
        transform: translateX(-50%) translateY(-60%);
    }
    .card_image
    {
        margin-top:20px;
    }
    
    .watermark
    {
        /* margin-top:7rem;    */
        /* font-size:5rem; */
    }
    .watermark1
    {
        /* margin-top:7rem; */
        /* font-size:5rem; */
        /* font-size:10vh;     */
    }
    .content_under_text
    {
        font-size:6vw;
    }
    .card2_main
    {
        width:300px;
        max-width:400px;
    }
    .prev{
        margin-right:5vw;        
    }
}
.image-container {
    display: flex;
    justify-content: center;
  }
  .img_circ
  {
      margin-top:200px;
  }
.testimonial
{
    text-align: center;
    margin-top:50px;
    font-size: xx-large;
    color: black;
    margin-bottom:120px;
}

/* CARD TESTIMONIAL */

/* FOOTER */
#footer{
    padding:0px 0px;
    background:#d7d7d7;
    color:black;
    margin-top:30px;    
    /* position: absolute; */
    z-index: 9999999;
    /* bottom: 0; */
    width: 100%;
}
.footer-brand{text-align:center;}
.footer-brand .logo>img{max-height:50px;}
.copyright{height:50px;line-height:50px; font-size: small;}
.social-media{margin-bottom:0px!important; font-size: small;}
.contact-social{margin:10px 0px;}
.social-media ul{margin:0px;padding:0px;}
.social-media li{display:inline-block;list-style:none;margin:12px 5px 0px 5px;}
.social-media li .fa{font-size:22px;}
.social-media li a{color:black;}



@media screen and (max-width:844px) and (min-width:762px)
{
    .social-media li{font-size:x-small;}
    .social-media li a{font-size:x-small;}   
    .copyright{font-size:x-small;}
    .img_circ
  {
      margin-top:50px;
  }
}
@media screen and (max-width:757px)
{
    .footer_col
    {
        text-align: center !important;
    }
    .social-media
    {
        padding-left:0px !important;
    }
    .img_circ
  {
      margin-top:50px;
  }
    
}
#rec
{
    padding-right:7px ;
}
#rel
{
    padding-left:7px;
}

.active_link2
{
    border: 2px black solid;
    outline: none !important;
    /* padding:2px; */
    color: white;
    text-decoration: none !important;
    border-radius: 5px;
}
.recent_active
{
    border: 2px solid #fb9700;
    border-right:none;
    /* padding:2px; */
    padding-right:10px;
    overflow: hidden;
    padding-left:5px;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
}
.release_active
{
    border: 2px solid black;
    border-left:none;
    /* padding:2px; */
    padding-left:10px;
    overflow: hidden;
    padding-right:5px;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
}


@media screen and (max-width:700px)
{

.gradient_mob
  {
      display: none !important;
  }
  .gradient_desk
  {
    /* display: none !important; */
  }
  .watermark
  {
      font-size:12vw;
      
  }
  .watermark1
  {
      font-size:50px;
  }
  
  }

  @media screen and (max-width:550px)
  {
    span
    {
        font-size:25px !important;
     background:none;
    }
  }

@media screen and (max-width:400px)
{
    span
    {
        font-size:20px !important;
     background:none;
    }
    
    .testimonial
    {
        display: none;
    }
    .social-media
    {
        padding-left:0px;
         padding-top:2px;
         font-size:x-small;
    }
    .copyright
    {
        font-size:9px;
    }
    .social-media li .fa{
        font-size:20px;
    }
    .social-media li{display:inline-block;list-style:none;margin:12px 2px 0px 2px;}
    .homepage_text
    {
        font-size:45px !important;
        width: fit-content;

    }
    .footer
    {
        text-align: center;
    }
    .try2
    {
        height:290px;
        width:290px;
    }
    .watermark
    {
        font-size:50px;
    }
}
