a {
    color: #fb9700;
}


.data_media
{
    font-size:16px;
    
}

#outerWrap {
position: relative;
/* z-index: 0; */
height:400px;
/* min-height:  400px; */
width: 100%;
margin-top:50px;
}

.div2_content_desktop
{
    margin-left:150px;
    padding-top:35px;
    /* text-align: center; */
    font-size: small;
    padding-right:20px;
}
    
.div2_content_desktop_2
{
    margin-top:5px;
    margin-left:130px;
}
     
    
.layer1 {
position: absolute;
z-index: 2;
background-color: #fb9700;
height: 50px;
width: 30%;
top: 105px;
left: 10px;
border-radius:10px;
text-align: center;
font-size: 18px         ;

}
.add_top_padding
{
    padding-top:50px;
}
.layer1 p
{
    margin-top:15px;
}
    
.layer2_content
{
    
}     
    
#layer2 {
position: absolute;
z-index: 1;
background-color:white;
height: 380px;
width:80%;
top: 5px;
left: 22%;
border-radius:10px;
box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
}

.logo_div2
{
    margin-top: 0px;
}
.top_para
{
    padding-left:5vw;
    padding-right:5vw;
    padding-top:35px;
    padding-bottom:35px;
    text-align:center;
}
.card-img-top
{
    height:230px;
    width:160px;
}
.card
{
    height:230px;
    width:160px;
}
.layer2_text
{
    font-size:16px ;
}

.outer4
{
    min-height:340px !important;
}

/* @media screen and (max-width: 1000px)
{
    .layer2_text
    {
        font-size: x-small ;
    }
    .div2_content_desktop_2
    {
        font-size: x-small ;
    }
} */

/* Change card view when device is smaller than 735px */
@media screen and (max-width: 1000px)
{

    .div2_content_desktop
    {
        margin-left:150px;
        padding-top:5px;
        /* text-align: center; */
        font-size: small;
        padding-right:20px;
    }
    .layer1
    {
        left:5px;
        top:0px;
        width:80%;
    }
    #layer2
    {
        left:15%;
        top:25px;
        height:max-content;
        padding-bottom:20px;

    }
    #outerWrap {
        height:480px;
        margin-top:50px ;
        }
    .outer1
    {
        height:540px !important;
    }
    
    .outer4
    {
        height:350px !important;  
        margin-top: 70px !important;           
    }
    .div2_content_desktop
        {
            margin-left:10px;
            margin-top:40px;
            /* text-align: center; */
            padding-right:20px;
        }
        
    .div2_content_desktop_2
        {
            margin-left:0px;
            font-size: 14px;
        }
        .div2_content_desktop_2 ul
        {
            padding-left: 10px !important ;
        }
    .layer2_text
    {
        font-size: 14px;
    }
    .data_media
{
    font-size:14px;
    
}
    .logo_div2
    {
        display: flex;
        justify-content: space-evenly;
    }
    .add_top_padding
    {
        padding-top:0px;
    }
    
}




 @media screen and (max-width: 551px)
{
   
    #outerWrap {
        height:500px;
        margin-top:80px ;
        }
        .outer2
        {
            height:430px  !important;
        }
    .outer4
    {
        margin-top:50px !important;
    }
    .outer4_key
    {
        margin-top:0px !important;
        margin-bottom:40px ;
    }
}
@media screen and (max-width: 450px)
{
    #outerwrap
    {
        margin-top:120px ;
    }
    .outer4
    {
        margin-top:100px !important;
        margin-bottom:45px !important ;
    }
    .outer4_key
    {
        margin-top:0px !important;
        margin-bottom:40px ;
    }
}



@media screen and (max-width: 420px)
{
    #outerwrap
    {
        margin-top:140px ;
    }
    .outer4
    {
        margin-top:135px !important;
        margin-bottom:65px !important ;
    }
    .outer4_key
    {
        margin-top:0px !important;
        margin-bottom:40px ;
    }
}
@media screen and (max-width: 375px)
{
    #outerwrap
    {
        margin-top:180px ;
    }
    .outer4
    {
        margin-top:210px !important;
        margin-bottom:115px !important ;
    }
    .outer4_key
    {
        margin-top:0px !important;
        margin-bottom:40px ;
    }
}
@media screen and (max-width: 360px)
{
    #outerWrap
    {
        height:600px;
    }
    .outer2
    {
        height:420px  !important;
    }
    .outer4
    {
        height: 400px !important;
        margin-top:240px !important;
        margin-bottom:115px !important ;
    }
}
