p{
    font-size:16px ;
}

.head_text
{
    letter-spacing:4px;
    font-size:18px ;
    text-align: center;
    margin-top:50px !important;
    font-weight:bold;
}
.sub_head_text
{
    letter-spacing:3px;
    font-size:16px;
    text-align: center;
    margin-top:15px;
    margin-bottom:15px;
    
}
.ques_text
{
    letter-spacing:2px;
    font-weight: bold;
    margin-top:40px;
    line-height:5px;
    font-size: large;
    /* padding:10px; */
}
.btn
{
    width:100px;
    margin-left:5px;
}
.active
{
    background-color: black;
    color: white !important;
}
a
{
    color:#fb9700;
}






@media screen and (max-width: 767px)
{
    .head_text
    {
        font-size: medium;
    }
    .sub_head_text
{
    letter-spacing:3px;
    font-size:small;
    text-align: center;
    margin-top:5px;
}
.ques_text
{
    line-height:20px;
}

}