a {
    color: #fb9700;
}

li {
    display: list-item;
    
    color:#fb9700;
 }
 ul
 {
     padding-left:14px ;
 }
.li_span
{
    color:#333;
    font-size:16px ;
}
.blog__parent
{
  display:flex; 
   position: relative; ;
  align-items: center;
  min-height:320px ;
    width: 95%;
    padding-top:20px;
    padding-bottom:20px ;
    /* background-color: red; */
  

}

.blog__orange
{
    background-color: #fb9700;
  height:30px ;
  min-width:315px;
  transform: translateX(70px);
  height: 50px;
  border-radius:10px;
  text-align: center;
  z-index:1 ;

}
.blog__orange p
{
    margin-top:15px;
    font-size:18px ;
}
.blog__info
{
    
    /* position: relative;
    z-index:0 ;
    width: 80%; */
    text-align: justify;
    background-color: white;
    padding-right:45px;
    padding-left:100px;
    padding-top:30px ;
    padding-bottom:30px ;
  border-radius: 10px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  width:80vw !important;
  
}

.keyservice
{
    margin-left:10px ;
}


.li_p
{
    color:#333;
    margin:0px;
    padding:0px ;
}

.data_media
{
    font-size:16px;
    
}

#outerWrap {
position: relative;
/* z-index: 0; */
height:420px;
/* min-height:  400px; */
width: 100%;
margin-top:50px;
}

.div2_content_desktop
{
    margin-left:150px;
    padding-top:35px;
    /* text-align: center; */
    font-size: small;
    padding-right:20px;
}
    
.div2_content_desktop_2
{
    margin-top:5px;
    margin-left:130px;

}
     
    
.layer1 {
position: absolute;
z-index: 2;
background-color: #fb9700;
height: 50px;
width: 30%;
top: 105px;
left: 10px;
border-radius:10px;
text-align: center;
font-size: 18px         ;

}
.add_top_padding
{
    padding-top:50px;
}
.layer1 p
{
    margin-top:15px;
}
    
.layer2_content
{
       
}     
    
#layer2 {
position: absolute;
z-index: 1;
background-color:white;
height: 410px;
width:80%;
top: 5px;
left: 22%;
border-radius:10px;
box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
}

.logo_div2
{
    margin-top: 0px;
    text-align: center;
    padding:10px ;

}
.top_para
{
    padding-left:5vw;
    padding-right:5vw;
    padding-top:35px;
    padding-bottom:35px;
    text-align:center;
}
.card-img-top
{
    height:230px;
    width:160px;
}
.card
{
    height:230px;
    width:160px;
}
.layer2_text
{
    font-size:16px ;
}

.outer4
{
    min-height:340px !important;
}

/* @media screen and (max-width: 1000px)
{
    .layer2_text
    {
        font-size: x-small ;
    }
    .div2_content_desktop_2
    {
        font-size: x-small ;
    }
} */

/* Change card view when device is smaller than 735px */
@media screen and (max-width: 1000px)
{
    .blog__parent
    {
        flex-direction: column;
    }
    .blog__orange
    {
        width:80%;
        /* transform: translateX(-20px); */
        transform: translateY(20px);
    }
    .blog__info
    {
        padding:35px;
        
    }
    .div2_content_desktop
    {
        margin-left:150px;
        padding-top:5px;
        /* text-align: center; */
        font-size: small;
        padding-right:20px;
    }
    .layer1
    {
        left:5px;
        top:0px;
        width:80%;
    }
    #layer2
    {
        left:15%;
        top:25px;
        height:max-content;
        padding-bottom:20px;

    }
    #outerWrap {
        height:490px;
        margin-top:50px ;
        }
    .outer1
    {
        height:550px !important;
    }
    
    .outer4
    {
        height:370px !important;  
        margin-top: 70px !important;           
    }
    .div2_content_desktop
        {
            margin-left:10px;
            margin-top:40px;
            /* text-align: center; */
            padding-right:20px;
        }
        
    .div2_content_desktop_2
        {
            margin-left:0px;
            font-size: 14px;
        }
        .div2_content_desktop_2 ul
        {
            padding-left: 10px !important ;
        }
    .layer2_text
    {
        font-size: 14px;
    }
    .data_media
{
    font-size: 14px;
    margin-left: 10px;
    list-style-type: circle;
    display: inline;
    
}
    .logo_div2
    {
        display: flex;
        justify-content: space-evenly;
    }
    .add_top_padding
    {
        padding-top:0px;
    }
    
}


@media screen and (max-width: 400px)
{
    .blog__parent
    {
        flex-direction: column;
        
    }
    .blog__orange
    {
        width:320px;
        /* transform: translateX(-20px); */
        transform: translateY(20px);
    }
    .blog__info
    {
        padding:15px;
        padding-top:30;
        padding-bottom:30px ;
        font-size:14px ;
        
    }
    
}




