/* $lineheight:18px; */
/* $height: $lineheight * 3; */
/* $ellipsiswidth: 3em !default; */
.title_height
{
  height:30px;
}
.read_less
{
  cursor: pointer;
}
.syn_netflix
{
  text-align: justify;
  height:90px ;
}
.syn_heights
{
  text-align: justify;
  height:100px ;
}

.extramargin
{
  margin-top:30px !important;
}
.synopsis_head
{
  margin:0px; 
  margin-top:20px;
}
.page
{
  margin-top:20px ;
}
body
{
    background-color: black;
}
.syn_heights:hover
{
  
  cursor: pointer;
}
.RR_cards
{
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
  gap:20px;
  
}
.main
{
    margin-top:50px;
    display: flex;
    justify-content: space-between;
    margin-bottom:50px;

}
/* .main .space-between {
    justify-content: space-between;
  } */

.link a
{
    color: white;
    font-size: x-large;
    /* padding-right:35px; */
    /* text-align: center; */
}
.link:hover
{
    color: #fb9700;
    cursor: pointer;
}
.active_tab a
{
    border-bottom: 4px solid #fb9700;
}
.card
{
    width:100% ;
    max-width:320px;
    /* max-height:600px !important ; */
    /* margin-top: 20px; */
    

}
.card_btns_div
{
    margin-top:3px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom:20px;
    max-height:40px ;

}
.services
{
    line-height: 15px;
    /* text-align: center; */
    display: flex;
    justify-content: flex-start;

}
.services p
{
  padding-right:10px;
}
.card p
{
    font-size:small;
}
.card_img
{
    border:solid 1px white;
    width:100%; 
    height:150px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}
.cardbox
{
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    background-color: white; 
    width:100% ;
    height:440px;
}
.cardbox p
{
  font-size:16px;
}
.card_btns
{
    background-color:#303030;
    border:none;
    border-radius:3px;
    color:white;
    margin-top:10px ;
    max-height:22px;
     height:22px ;
}
.card_btns a
{
  color: white;
}
.card_btns:focus
{
  color:white;
}
.card_btns:hover
{
  color:white;
  text-decoration: underline;
}
.new_share
{
  padding-left:6px;
  padding-right:6px;
  padding-top:1px ;
  padding-bottom:1px ;
}
.content
{
    margin-top:30px;
    padding-bottom:20px;
}
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    /* background-color: yellow; */
  
  }
  .pagination a:hover
  {
    color:#fb9700
  }
  .active_page
  {
    background-color: white;
    color: black !important;
  }
  .pagination a:active
  {
      background-color: white;
      color: #000;
  }
  .parent
  {
    width:315px;
    margin:20 auto;
    bottom:0px;
  }
  .mob_links
  {

      width: 100%;
      max-width:300px;
      /* background-color: #fb9700; */
      margin:20px auto;
      /* margin-bottom: 200px; */
      border-style: none;
      background-color: black;
      border-color: black;
  }
  .open
  {
    border-style:none !important;   
    /* border-color: black !important; */
  }
  .dropdown_btn
  {
    width: 100% !important;
    max-width:300px !important;
    background-color: black !important;
    border-color: black !important;
    border-bottom-color: #fb9700 !important;
    color:#fb9700;
  }
  .dropdown_btn:active
  {
    width: 100%;
    max-width:300px;
    background-color: black;
    border-color: black;
    border-bottom-color: #fb9700;
  }
  .open
  {
    margin-bottom:150px;
  }
  .btn :active
  {
    border:none;
  }
  .dropdown-menu 
  {
    width: 100%;
    max-width:300px;
    background-color: #fb9700;
    color: black;
  }
  .dropdown-menu li a
  {
      color: black;
  }
  .ls:hover
  {
      background-color:orange !important;
  }
  /* .dropdown_btn:active
  {
    width: 100%;
    max-width:300px;
    background-color: black;
    border-color: black;
    border-bottom-color: #fb9700;
  } */
  .dropdown_btn:hover
  {
    width: 100%;
    max-width:300px;
    background-color: black;
    border-color: black;
    border-bottom-color: #fb9700;
  }
  @media screen and (max-width:995px)
  {
    .link
    {
        font-size: large;
    }
  }
  @media screen and (max-width:765px)
  {
      .card
      {
          margin: 30px auto;


      }
      .content
      {
        margin-top:0px;
        padding-bottom:0px;
      }
      .row2
      {
          margin-top:-20px ;
      }
      .link
      {
          font-size: medium;
      }
      
  }
  
  /* 675 se show dropdrown  */

  
  *{ 
    box-sizing: border-box;
  }
  
  
  .row_gallery {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 8px;
  }
  
  .column_gallery {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 8px;
  }
  
  .column_gallery img {
    margin-top: 16px;
    vertical-align: middle;
    width: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .column_gallery {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column_gallery {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  } 

  @media (max-width: 1200px) {
    #photos {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
    }
  }
  @media (max-width: 1000px) {
    #photos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 800px) {
    #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
  }
  @media (max-width: 400px) {
    #photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
  } 

  /* icons */
  .social_media_btn {
    padding: 10px;
    font-size: 20px;
    width: 35px;
    /* text-align: center; */
    text-decoration: none;
    /* margin: 5px 2px; */
  }
  
  .social_media_btn:hover {
      opacity: 0.3;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    /* font-size:5px; */
    /* width: ; */
  }
  .fa-whatsapp
  {
    background: #25d366;
    color: white;

  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
