body
{
    background-color: black;
}
.main
{
    margin-top:50px;
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;

}
/* .main .space-between {
    justify-content: space-between;
  } */

.link a
{
    color: white;
    font-size: x-large;
    /* padding-right:35px; */
    /* text-align: center; */
}
.link:hover
{
    color: #fb9700;
    cursor: pointer;
}
.active_tab a
{
    border-bottom: 4px solid #fb9700;
}
.card
{
    width:100% ;
    max-width:300px;

}
.card_btns_div
{
    margin-top:3px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom:5px;

}
.services
{
    line-height: 10px;
    display: flex;
    justify-content: space-evenly;
}
.card p
{
    font-size:x-small;
}
.card_img
{
    border:solid 1px white;
    width:100%; 
    height:150px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}
.cardbox
{
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    background-color: white; 
    width:100% ;
}
.card_btns
{
    background-color:#303030;
    border:none;
    border-radius:3px;
    color:white;
}
.content
{
    margin-top:30px;
    padding-bottom:20px;
}
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
  }
  .pagination a:active
  {
      background-color: white;
      color: #000;
  }
  .parent
  {
    width:295px;
    margin:0 auto;
    bottom:10px;
  }
  .mob_links
  {

      width: 100%;
      max-width:300px;
      /* background-color: #fb9700; */
      margin:20px auto;
      /* margin-bottom: 200px; */
      border-style: none;
      background-color: black;
      border-color: black;
  }
  .open
  {
    border-style:none !important;   
    /* border-color: black !important; */
  }
  .dropdown_btn
  {
    width: 100% !important;
    max-width:300px !important;
    background-color: black !important;
    border-color: black !important;
    border-bottom-color: #fb9700 !important;
    color:#fb9700;
  }
  .dropdown_btn:active
  {
    width: 100%;
    max-width:300px;
    background-color: black;
    border-color: black;
    border-bottom-color: #fb9700;
  }
  .open
  {
    margin-bottom:150px;
  }
  .btn :active
  {
    border:none;
  }
  .dropdown-menu 
  {
    width: 100%;
    max-width:300px;
    background-color: #fb9700;
    color: black;
  }
  .dropdown-menu li a
  {
      color: black;
  }
  .ls:hover
  {
      background-color:orange !important;
  }
  /* .dropdown_btn:active
  {
    width: 100%;
    max-width:300px;
    background-color: black;
    border-color: black;
    border-bottom-color: #fb9700;
  } */
  .dropdown_btn:hover
  {
    width: 100%;
    max-width:300px;
    background-color: black;
    border-color: black;
    border-bottom-color: #fb9700;
  }
  @media screen and (max-width:995px)
  {
    .link
    {
        font-size: large;
    }
  }
  @media screen and (max-width:765px)
  {
      .card
      {
          margin: 30px auto;
      }
      .content
      {
        margin-top:0px;
        padding-bottom:0px;
      }
      .row2
      {
          margin-top:-20px ;
      }
      .link
      {
          font-size: medium;
      }
      
  }
  
  /* 675 se show dropdrown  */
